.subject {
    transition: top .3s ease-in;
    text-align: center;
    font-size: 17px;
    color: #666;
    z-index: $zindex10;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    white-space: nowrap;
    @include font-smoothing();
    // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

    &.visible {
        // top: 0px;
    }

    &-text {
        vertical-align: middle;
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: .9rem;
        font-weight: 600;
        svg {
            margin-left: 20px;
        }
    }

    &-conference-timer {
        display: none;
        font-size: 15px;
        opacity: 0.6;
    }
}
