#videoconference_page {

    background: #FFF;
    #videospace {
        display: block;
        height: 100%;
        // width: 100%;
        min-height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        overflow: hidden;
        width: calc(100% - 385px); 
        background: #FFF;
    }
    .remotevideomenu {
        display: none;
    }
    .header-wrapper {
        position: absolute;
        z-index: 11;
        width: 98%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        top: -65px;
        align-items: center;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        padding: 6px 10px; 
        .participants-count {
            .participants-count-icon {
                background: none; //url(/images/user-groups.svg);
                height: 25px;
                width: 25px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover; 
            }
        }
        .toolbox-button {
            margin-left: 20px;
        }
        .jitsi-icon svg {
            // fill: #555;
            cursor: pointer;
            font-size: 1.4rem;
            padding: 8px 10px;
            background: #feffff;
            color: #21b8f3;
            border-radius: 10px;
            margin-left: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
            transition: .15s;
            &:hover {
                background: #eefaff;
            }
        }
        .header-left {
            width: calc(100% - 400px);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .right-toolbar {
            flex-basis: 100%;
            height: 70px;
            background: #FFF;
            width: 95%;
            margin: 0 auto 0 5px;
            top: 0;
            color: #00bbf1;
            flex-direction: row;
            align-items: stretch;
            @include font-smoothing();
            flex-grow: 0;
            right: 0;
            position: absolute;
            display: flex;
            width: 370px;
            button {
                font-size: 14px;
                line-height: 1.2;
                text-align: center;
                background: transparent;
                opacity: 0.7;
                height: auto;
                width: 100%;
                padding: 0;
                margin: 0;
                border: none;
                outline: none;

                -webkit-appearance: none;

                &:hover {
                    opacity: 1;
                }

                i {
                    cursor: pointer;
                }
            }
            button, .jitsi-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #777;
                font-weight: 600;
                border-radius: 0;
                &.jitsi-icon {
                    margin-right: 5px;
                }
                svg {
                    fill: #777;
                    margin-right: 8px;

                }
                &.active {
                    color: $belougaBlue;
                    // background: #ddf2ff;
                    svg {
                        fill: $belougaBlue;
                    }
                }

            }
        }
    }
    .subject {
        display: flex;
        align-items: center; 

    }
    .new-toolbox {
        width: calc(100% - 385px);
        bottom: 0;
        transition: bottom .14s ease-in;
        height: 300px;
        bottom: -213px;
        .btn {
            cursor: pointer;
            transition: .2s;
        }
        .more-features-section {
            display: none;
            padding: 20px;
            flex-basis: 100%;
            flex-wrap: wrap;
  
            .mf-button, .toolbox-button, li.overflow-menu-item {
                list-style: none;
                @include font-smoothing();
                background: #009eff;
                padding: 30px 20px;
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 6px;
                color: #FFF;
                box-shadow: 0 0 10px rgba(0,0,0,.6);
                font-size: .9rem;
                font-weight: 600;
                text-align: left;
                position: relative;
                width: 200px;
                margin: 0 35px 0 0;
                background-position: left center;
                background-size: 100%;
                cursor: pointer;
                transition: .3s;
                outline: 0;
                &.btn-livestream, &.btn-cc {
                    > div {
                        display: flex;
                        align-items: center;
                        .overflow-menu-item-icon {
                            svg {
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                }
        
                svg {
                    font-size: 2.7rem;
                    margin-right: 16px;
                }
                &.btn-blue {
                    background: #009eff;
                    background: linear-gradient(45deg, #2b5b96, #1baff5);
                    background-position: left center;
                    background-size: 100%;
                }
                &.btn-red {
                    background: #ff5454;
                    background: linear-gradient(45deg, #af1d1d, #ff5454);
                    background-position: left center;
                    background-size: 100%;
                }
                &.btn-green {
                    background: #1b9848;
                    background: linear-gradient(45deg, #1b9848, #18d284);
                    background-position: left center;
                    background-size: 100%;
                }
                &.disabled {
                    background: #e4e4e4;
                    opacity: .7;
                    color: #585858;
                    box-shadow: none;
                    pointer-events: none;
                }
                &:hover {
                    // background-position: right center;
                    background-size: 200%;
                }
            }
        }

        .toolbox-content {
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            padding: 10px 16px;
            position: relative;
            width: 98%;
            left: 9px;
            margin: 0 auto;
            z-index: 350;
            align-items: center;
            // background: linear-gradient(to bottom, #ddefff 2%, #ffffff 100%);
            background: #FFF;
            border-radius: 10px 10px 0 0;
            box-shadow: 0 0 10px rgba(0,0,0,0);
            transition: .2s;
            height: 100%;
            align-items: flex-start;
            background: linear-gradient(175deg,#FFF 60%, #e7f6ff 90%);
            .button-group-center {
                justify-content: flex-start;
                width: 400px;
                height: 65px;
                margin: 0 10px 0;
                align-items: center;
                .toolbox-button {
                    display: inline-flex;
                    align-items: center;
                    .toolbox-icon {
                        border: 1px solid #afbed2;
                    }
                }
            }
            .button-group-right {
                display: flex;
                margin-top: 8px;
                width: 50%;
                @include font-smoothing();
                font-size: .9rem;
                height: 45px;


                .stop-screenshare {
                    display: inline-flex;
                    align-items: center;
                    background: #d40707;
                    color: #FFF;
                    padding: 4px 20px;
                    font-weight: 500;
                    text-transform: uppercase;
                    border-radius: 6px;
                    margin-right: auto;
                    svg {
                        margin-right: 12px;
                        font-size: 1.2rem;
                    }
                    &:hover {
                        background: #b50909;
                    }
                }


                .more-features {
                    @include font-smoothing();
                    color: #FFF;
                    display: inline-flex;
                    align-items: center;
                    font-size: .9rem;
                    font-weight: 600;
                    background: #03bbf1;
                    padding: 4px 25px;
                    border-radius: 6px;
                    text-transform: uppercase;
                    box-shadow: 0 0 13px rgba(0, 0, 0, 0.14);
                    justify-content: space-between;
                    width: 190px;
                    transition: .2s;
                    cursor: pointer;
                    &:hover {
                        background: #669cca;
                        color: #FFF;
                    }
                }

            }
        }
        &.toolbox-expand {
            height: 300px;
            bottom: 0;

            .more-features-section {
                display: flex;
                align-items: center;
            }
            .toolbox-content {
                height: 100%;
                align-items: flex-start;
                box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.3);
                flex-wrap: wrap;
            }
        }
    }
    &.vertical-filmstrip {
        #filmstripLocalVideo,
        #filmstripRemoteVideos {
            padding: 8px 0;
            padding-left: 25px;
            padding-right: 30px;
            &#filmstripLocalVideo {
                position: absolute;
                left: -355px;
                right: initial;
                width: 300px;
                bottom: 120px;
                z-index: 200;

                // Responsive style
                //left: -295px;
                // right: initial;
                // width: 250px;
                // top: 80px;
                // z-index: 200;
                // bottom: initial;

            }
        }
        #largeVideoContainer {
            bottom: 115px;
            width: 97%;
            height: auto;
            position: absolute;
            top: 70px;
            bottom: 115px;
            left: 18px;
            right: 0;
            margin: 0 auto;
            border-radius: 10px;
            box-shadow: 0 0 14px rgba(0, 0, 0, 0.26);
            overflow: hidden;
        }
        .filmstrip__toolbar {
            flex-basis: 100%;
            height: 50px;
            background: #FFF;
            width: 100%;
            margin: 0 auto;
            top: 0;
            color: #00bbf1;
            flex-direction: row;
            align-items: center;
            @include font-smoothing();
        }
        .filmstrip {
            &.shift-right {
                background: #FFF;
            }

            &.hide-videos {
                .remote-videos-container {
                    opacity: 1;
                    pointer-events: none;
                }
            }

            /*
            * Firefox sets flex items to min-height: auto and min-width: auto,
            * preventing flex children from shrinking like they do on other browsers.
            * Setting min-height and min-width 0 is a workaround for the issue so
            * Firefox behaves like other browsers.
            * https://bugzilla.mozilla.org/show_bug.cgi?id=1043520
            */
            @mixin minHWAutoFix() {
                min-height: 0;
                min-width: 0;
            }

            @extend %align-right;
            // align-items: flex-end;
            bottom: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            padding: ($desktopAppDragBarHeight - 5px) 0 10px 0;
            /**
            * fixed positioning is necessary for remote menus and tooltips to pop
            * out of the scrolling filmstrip. AtlasKit dialogs and tooltips use
            * a library called popper which will position its elements fixed if
            * any parent is also fixed.
            */
            position: fixed;
            top: 0;
            transition: height .3s ease-in;
            right: 0;
            z-index: $filmstripVideosZ;
            background: #FFF; 
            // background: #f5f5f5;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            display: block;
            max-width: 375px;
            padding: 70px 0 10px 0;
            #filmstripRemoteVideos {
                padding-left: 15px;
                padding-right: 25px;
                padding-top: 10px;
            }
        }
    }
    .filmstrip {
        .filmstrip-toolbox {
            display: flex;
            align-items: center;
            flex-direction: row;
            border-radius: 9px;
            margin-bottom: 6px;
            padding: 0px 10px;
            width: 97%;
            margin: 0 0 10px;
            background: #ececec;
            box-sizing: border-box;
            border: 1px solid #dedede;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-left: 3%;
            .toolbox-button {
                display: flex;
                align-items: center;
                justify-content: center;
             
                .jitsi-icon {
                    svg {
                        cursor: pointer;
                        font-size: 1.4rem;
                        padding: 8px 10px;
                        background: #feffff;
                        color: #21b8f3;
                        border-radius: 40px;
                        margin-left: 0;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                        transition: .15s;
                        height: 25px;
                        width: 25px;
                        g {
                            fill: #f00;
                        }
                    }
                }
                &.btn-mute-all {
                    .jitsi-icon svg g {
                        fill: #f00;
                        // background: #ce4343;
                    }
                }
            }
        }
        .filmstrip__toolbar {
            z-index: 2;
            height: 55px;
            background: #d4eaf1;
            color: #FFF;
            .jitsi-icon svg {
                // color: #FFF;
                // fill: #FFF;

            }
        }
       .filmstrip__videos {

            .displayNameContainer {
                visibility: visible;
                transition: .2s;
                opacity: 0;
            }
            .videocontainer {
                background: rgba(42, 77, 95, 0.6);
                .videocontainer__toolbar {
                    opacity: 0;
                    transition: .2s;
                }
                .videocontainer__hoverOverlay {
                    z-index: 0;
                }
                &:hover {
                    cursor: hand;
                    box-shadow: 0 0 15px rgba(22,43,53,.4) !important;
                    // transform: scale(1.04);
                    z-index: 15;
                    .displayNameContainer,  .videocontainer__toolbar {
                        opacity: 1;
                    }
                        
                }
                .indicator-container {
                    float: none;
                    width: 35px;
                    height: 35px;
                    margin: 0 4px;
                    border-radius: 0;
                    overflow: hidden;
                    // border: 2px solid rgba(210, 210, 210, .7);
                    padding: 2px; 
                    &.connection-indicator, &.show-connection-indicator {
                        display: none;
                    }

                    .jitsi-icon {
                        svg {
                            fill: #a7a0a0;
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
                .videocontainer__toolbar {

                    pointer-events: none;
                    text-align: left;
                    bottom: 30px;
                    .toolbar-icon {
                        pointer-events: all;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, .4);
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                    }
                }
                .moderator-icon {
                    position: absolute;
                    right: 0;
                    bottom: 20px;
                    .indicator-container {
                    }

                    .toolbar-icon {
                        background: #25e825;
                        svg {
                            color: #ecffec;
                            fill: none;
                        }
                    }
                }
               
            }
            &#filmstripRemoteVideos {
                .videocontainer {
                    box-shadow: 0 5px 15px rgba(22, 43, 53, 0.3) !important;
             
                }
            }
                
       }
    }
    &.tile-view {
        .watermark {
            top: 60px;
        }
        &:not(.sidebar-open) {
            .new-toolbox {
                width: 100%;
            }
        }
        .new-toolbox .toolbox-content {
            left: 0;
        }
        #videospace {
            width: 100%;
            #largeVideoContainer {
                width: 97%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 0;
                background: #FFF!important;
            }
            &.sidebar-open {
                width: calc(100% - 385px);

            }
        }
    
        .filmstrip.shift-right {
            width: calc(100% - 375px);
        }
        .remotevideomenu {
            display: none;
        }
        .filmstrip__toolbar {
            // display: flex;
            // left: initial;
            // right: 0;
            // top: 17%;
            // align-items: center;
            // flex-direction: row;
        }
        .filmstrip__videos .videocontainer:hover {
            // transform: scale(1.03);
        }
        .filmstrip {
            left: initial;
            @extend %align-right;
            // align-items: flex-end;
            bottom: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            padding: ($desktopAppDragBarHeight - 5px) 0 10px 0;
            /**
            * fixed positioning is necessary for remote menus and tooltips to pop
            * out of the scrolling filmstrip. AtlasKit dialogs and tooltips use
            * a library called popper which will position its elements fixed if
            * any parent is also fixed.
            */
            position: fixed;
            top: 0;
            transition: height .3s ease-in;
            left: 0;
            z-index: $filmstripVideosZ;
            background: #FFF; 
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            display: block;
            max-width: none;
            &.shift-right {
                // margin-left: $sidebarWidth;
                width: calc(100% - #{$sidebarWidth});

                #filmstripRemoteVideos {
                    width: calc(100vw - #{$sidebarWidth});
                }
            }
        }
        
    }
}